body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.yellow {
  background-color: rgb(238, 238, 142);
}

.white {
  background-color: whitesmoke;
}

.red {
  background-color: rgb(235, 102, 102);
}